##################################################
# VIRTUAL ENVIRONMENT (YOUR MAIN NEED)
##################################################

.gmlenv/

##################################################
# PYTHON CACHE
##################################################

__pycache__/
*.py[cod]

##################################################
# JUPYTER NOTEBOOK CACHE
##################################################

.ipynb_checkpoints/

##################################################
# VS CODE SETTINGS (LOCAL ONLY)
##################################################

.vscode/

##################################################
# LOGS / TEMP FILES
##################################################

*.log
*.tmp
*.swp

##################################################
# OS FILES
##################################################

.DS_Store
Thumbs.db
git rm --cached *.ipynb
##################################################
# IGNORE EXTRA NOTEBOOK FOLDERS
S02-01 Primal vs Dual.ipynb
S02-02 Metric vs Topological.ipynb
S02-04 Geometric Representations.ipynb
S02-06 Importing OBJ files.ipynb
S03-07 Spatial Intelligence Part 1.ipynb
##################################################

GML_notebooks_folder/